.button {
    @include flex-center;

    @include reset-button;

    display: inline-flex;
    height: var(--button-height);

    &__pagination {
        width: 15px;
        height: 15px;
        padding: 0;
        border-radius: 50%;

        @include hover {
            opacity: .7;
            transition-duration: var(--transition-duration);
        }

        &:focus-visible {
            border: var(--border);
        }

        &:active {
            background-color: var(--color-dark);
        }

        &--red {
            background-color: var(--color-high-accent);
        }

        &--light {
            background-color: var(--color-light-button);
        }

        &--blue {
            background-color: var(--color-main-txt);
        }

        &--light-alt {
            background-color: var(--color-light-alt-button);
        }

        &--pink {
            background-color: var(--color-pink);
        }

        &--big {
            width: 20px;
            height: 20px;
        }
    }
}

.button--burger {
    @include square (50px);

    position: relative;
    border-radius: var(--border-radius);

    @include hover {
        background-color: var(--color-high-accent);
        transition-duration: var(--transition-duration);
    }

    &:focus-visible {
        border: var(--border);
    }

    &:active {
        background-color: var(--color-dark);
    }

    &::after {
        @include abs-center;

        content: '';
        width: 50%;
        height: 2px;
        background-color: var(--color-main);
        box-shadow: 0 -8px 0 var(--color-main), 0 8px 0 var(--color-main);
    }
}

.button--cross {
    @include reset-button;
    @include square (50px);

    position: relative;
    border-radius: var(--border-radius);

    @include hover {
        background-color: var(--color-high-accent);
        transition-duration: var(--transition-duration);
    }

    &:focus-visible {
        border: var(--border);
    }

    &:active {
        background-color: var(--color-dark);
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 22px;
        left: 7px;
        width: 75%;
        height: 2px;
        background-color: var(--color-main);
        border-radius: var(--border-radius);
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }
}

.button--blue,
.button--white {
    @include fluid-text (12, 11);
    
    padding: 16px 45px;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 2.4px;
    width: 185px;

    @include hover {
        background-color: var(--color-low-accent);
        transition-duration: var(--transition-duration);
    }

    &:focus-visible {
        border: var(--border);
    }

    &:active {
        background-color: var(--color-dark);
    }
}

.button--blue,
.button--blue-large {
    background-color: var(--color-main);
    color: var(--color-light);
}

.button--white {
    background-color: var(--color-light);
    color: var(--color-main);

    @include hover {
        color: var(--color-light);
    }
}

.button--blue-large {
    @include hover {
        background-color: var(--color-low-accent);
        transition-duration: var(--transition-duration);
    }

    &:focus-visible {
        border: var(--border);
    }

    &:active {
        background-color: var(--color-dark);
    }
}

.button--curcle {
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px, dashed, var(--color-main-txt);
    border-radius: 50%;
    background-color: transparent;

    @include hover {
        background-color: var(--color-main-txt);
        transition-duration: var(--transition-duration);

        &::before {
            border-right: 2px solid var(--color-light);
            border-bottom: 2px solid var(--color-light);
        }
    }

    &:focus-visible {
        border: var(--border);
    }

    &:active {
        background-color: var(--color-dark);
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 45%;
        width: 10px;
        height: 10px;
        border-right: 2px solid var(--color-main-txt);
        border-bottom: 2px solid var(--color-main-txt);
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}


