.footer {
    height: 130px;

    &__list {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(6, 140px);
        justify-content: space-around;
        align-items: center;
        gap: 10px;

        @include tablet {
            grid-template-columns: repeat(3, 140px);
            gap: 20px;
        }

        @include mobile {
            grid-template-columns: repeat(2, 140px);
            gap: 40px;
            margin-top: 40px;
        }
    }

    &__link {
        @include hover {
            transform: scale(1.2);
            transition-duration: var(--transition-duration);
        }

        &:focus-visible {
            border: var(--border);
        }

        &:active {
            opacity: .7;
        }
    }
}