.header {
    display: flex;
    width: 100%;
    flex-direction: column;

    &__inner {
        @include flex-center;

        display: flex;
        background-color: var(--color-main);
        color: var(--color-light);
        height: 40px;
        padding-inline: 30px;

            @include tablet {
                flex-direction: column;
                text-align: center;
                height: auto;
            }

            @include mobile {
                padding-inline: 15px;
            }
    }

    &__schedule {
        @include fluid-text (13, 12);

        @include flex-center;

        position: relative;
        display: flex;
        gap: 5px;
        font-weight: 400;
        line-height: 1.67;

            &::before {
                position: absolute;
                content: "{";
                top: -1px;
                left: -15px;
            }
        }

    &__wrapper {
        margin-left: auto;

            @include tablet {
                flex-direction: column;
                text-align: center;
                margin-left: 0;
            }
    }

    &__link-list {
        @include flex-center;

        display: flex;
        column-gap: 70px;

            @include mobile {
                flex-direction: column;
            }
    }

    &__link-item {
        position: relative;

        &:first-child::before {
            position: absolute;
            content: url("/Icons/Phone.svg");
            top: 37%;
            left: -30%;

                @include tablet {
                    top: 27%;
                    left: -25%;
                }
        }

        &:last-child:before {
            position: absolute;
            content: url("/Icons/Location.svg");
            top: 33%;
            left: -12%;

                @include tablet {
                    top: 28%;
                    left: -10%;
                }
        }
    }

    &__href {
        @include fluid-text (13, 12);

        color: var(--color-light);
        font-weight: 400;
        line-height: 1.67;

            @include hover {
                color: var(--color-high-accent);
                transform: scale(1.1);
            } 
    }

    &__container {
        @include flex-center;

        display: flex;
        justify-content: space-between;
        height: 100px;
        padding-inline: 30px;

            @include mobile {
                padding-inline: 15px;
            }
    }

    &__box-link {
        @include hover {
                opacity: .7;
                transform: scale(1.1);
            }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;

            @include tablet {
                column-gap: 20px;
            }
    }

    &__link {
        @include fluid-text (13, 12);

        color: var(--color-main-txt);
        font-weight: 600;
        line-height: 0.77;
        letter-spacing: 2.6px;
        text-transform: uppercase;

            @include hover {
                color: var(--color-high-accent);
                transform: scale(1.2);
            }
    }

    &__search {
        @include flex-center;

        display: flex;
        column-gap: 25px;
        width: 100px;

        @include mobile {
            column-gap: 10px;
        }

        &-link {
            @include fluid-text (13, 12);

            color: var(--color-main-txt);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 13px;
            line-height: 4.5;
            letter-spacing: 2.6px;

                @include hover {
                color: var(--color-high-accent);
                transform: scale(1.2);
            }

                @include mobile {
                    font-size: 18px;
                }
        }
    }

}