.health {
    display: flex;

    @include tablet {
        flex-direction: column;
        gap: 20px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding-left: 70px;
        padding-right: 20px;

        @include tablet {
            align-items: center;
            text-align: center; 
        }

        @include mobile {
            margin-top: 20px;
        }
    }

    &__title {
        @include fluid-text (13, 11);

        font-family: var(--font-family-main);
        font-weight: 600;
        line-height: 1.92;
        letter-spacing: 1.69px;
        color: var(--color-low-accent);
        text-transform: uppercase;

        &-mini {
            @include fluid-text (42, 30);

            font-weight: 600;
            line-height: 1.1;
            color: var(--color-main-txt);
        }
    }

    &__author {
        @include fluid-text (20, 18);

        font-family: var(--font-family-accent);
        font-weight: 600;
        line-height: 1.65;
        color: var(--color-high-accent);
    }

    &__container {
        display: flex;
        margin-left: auto;
        padding-right: 10px;
    }
}