.mobile-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__body {
        @include flex-center;

        flex-direction: column;
        row-gap: 30px;
        text-align: center;
        min-height: 60vh;
    }

    &__link {
        @include fluid-text (30, 25);
        
        color: var(--color-main-txt);
        font-weight: 600;
        line-height: 0.77;
        letter-spacing: 2.6px;
        text-transform: uppercase;
    }
}