.practice {
    background-image: url("../Images/practice/Practice.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
    max-height: 650px;

    @include mobile {
        background-image: none;
        max-height: 450px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        align-items: flex-start;

            @include tablet {
                @include flex-center;
            }
    }

    &__wrapper {  
        @include flex-center;
        
        background-color: var(--color-high-accent);
        height: 30px;
        width: 170px;
        border-radius: var(--border-radius);
        margin-top: 30px;
    }

    &__title {
        @include fluid-text (13, 12);

        color: var(--color-light);
        font-weight: 600;
        line-height: 1.77;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__box {
        max-width: 580px;
        background-color: var(--color-light);
        border-radius: var(--border-radius); 

        &-item {
            max-height: 80px;

                @include mobile {
                    text-align: center;
                }
        }
    }

    &__line {
        @include fluid-text (50, 35);

        color: var(--color-main-txt);
        font-family: var(--font-family-accent);
        font-weight: 600;
        line-height: 1.18;
    }

    &__btns {
        display: flex;
        gap: 20px;

            @include mobile {
                flex-direction: column;
                gap: 30px;
            }
    }
}