:root {
    --color-light: #FFFFFF;
    --color-main: #2E3192;
    --color-main-txt: #1E2D78;
    --color-high-accent: #F4572E;
    --color-low-accent: #DD3333;
    --color-pink: #EE2852;
    --color-light-grey: #8A8A8A;
    --color-dark-grey: #656565;
    --color-alt-light: #DCE6F5;

    --border-radius: 5px;

    --font-family-main: 'Open Sans', sans-serif;
    --font-family-accent: 'Catamaran', sans-serif;

    --transition-duration: 0.3s;

    --text-decor: none;

    --container-width: 1350px;
    --container-padding-x: 25px;

    --input-height: 50px;
    --button-height: 56px;
}