@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
:where(p:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--font-family-main);
  font-weight: 400;
  line-height: 1.66;
  color: var(--color-light-grey);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  -webkit-text-decoration: var(--text-decor);
          text-decoration: var(--text-decor);
  color: inherit;
}

h1, h2, h3, h4 {
  color: var(--color-main-txt);
  font-family: var(--font-family-accent);
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url("/Fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/Fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Catamaran";
  src: url("/Fonts/Catamaran-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-main: #2E3192;
  --color-main-txt: #1E2D78;
  --color-high-accent: #F4572E;
  --color-low-accent: #DD3333;
  --color-pink: #EE2852;
  --color-light-grey: #8A8A8A;
  --color-dark-grey: #656565;
  --color-alt-light: #DCE6F5;
  --color-light-button: #CAE3F9;
  --color-light-alt-button: #FECBCB;
  --border-radius: 5px;
  --border: 1px solid var(--color-dark);
  --font-family-main: "Open Sans", sans-serif;
  --font-family-accent: "Catamaran", sans-serif;
  --transition-duration: 0.4s;
  --text-decor: none;
  --container-width: 1350px;
  --container-padding-x: 25px;
  --input-height: 50px;
  --button-height: 56px;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1280px) {
  .hidden-desktop {
    display: none !important;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  display: inline-flex;
  height: var(--button-height);
}
.button__pagination {
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
}
@media (hover: hover) {
  .button__pagination:hover {
    opacity: 0.7;
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .button__pagination:active {
    opacity: 0.7;
    transition-duration: var(--transition-duration);
  }
}
.button__pagination:focus-visible {
  border: var(--border);
}
.button__pagination:active {
  background-color: var(--color-dark);
}
.button__pagination--red {
  background-color: var(--color-high-accent);
}
.button__pagination--light {
  background-color: var(--color-light-button);
}
.button__pagination--blue {
  background-color: var(--color-main-txt);
  width: 20px;
  height: 20px;
}
.button__pagination--light-alt {
  background-color: var(--color-light-alt-button);
}
.button__pagination--pink {
  background-color: var(--color-pink);
}

.button--burger {
  width: 50px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button--burger:hover {
    background-color: var(--color-high-accent);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .button--burger:active {
    background-color: var(--color-high-accent);
    transition-duration: var(--transition-duration);
  }
}
.button--burger:focus-visible {
  border: var(--border);
}
.button--burger:active {
  background-color: var(--color-dark);
}
.button--burger::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-main);
  box-shadow: 0 -8px 0 var(--color-main), 0 8px 0 var(--color-main);
}

.button--cross {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 50px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius);
}
@media (hover: hover) {
  .button--cross:hover {
    background-color: var(--color-high-accent);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .button--cross:active {
    background-color: var(--color-high-accent);
    transition-duration: var(--transition-duration);
  }
}
.button--cross:focus-visible {
  border: var(--border);
}
.button--cross:active {
  background-color: var(--color-dark);
}
.button--cross::before, .button--cross::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 7px;
  width: 75%;
  height: 2px;
  background-color: var(--color-main);
  border-radius: var(--border-radius);
}
.button--cross::before {
  rotate: 45deg;
}
.button--cross::after {
  rotate: -45deg;
}

.button--blue,
.button--white {
  font-size: clamp(11px, 0.625vw, 12px);
  padding: 16px 45px;
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2.4px;
  width: 185px;
}
@media (hover: hover) {
  .button--blue:hover,
  .button--white:hover {
    background-color: var(--color-low-accent);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .button--blue:active,
  .button--white:active {
    background-color: var(--color-low-accent);
    transition-duration: var(--transition-duration);
  }
}
.button--blue:focus-visible,
.button--white:focus-visible {
  border: var(--border);
}
.button--blue:active,
.button--white:active {
  background-color: var(--color-dark);
}

.button--blue,
.button--blue-large {
  background-color: var(--color-main);
  color: var(--color-light);
}

.button--white {
  background-color: var(--color-light);
  color: var(--color-main);
}
@media (hover: hover) {
  .button--white:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button--white:active {
    color: var(--color-light);
  }
}

@media (hover: hover) {
  .button--blue-large:hover {
    background-color: var(--color-low-accent);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .button--blue-large:active {
    background-color: var(--color-low-accent);
    transition-duration: var(--transition-duration);
  }
}
.button--blue-large:focus-visible {
  border: var(--border);
}
.button--blue-large:active {
  background-color: var(--color-dark);
}

.button--curcle {
  position: relative;
  width: 36px;
  height: 36px;
  border: 1px, dashed, var(--color-main-txt);
  border-radius: 50%;
  background-color: transparent;
}
@media (hover: hover) {
  .button--curcle:hover {
    background-color: var(--color-main-txt);
    transition-duration: var(--transition-duration);
  }
  .button--curcle:hover::before {
    border-right: 2px solid var(--color-light);
    border-bottom: 2px solid var(--color-light);
  }
}
@media (hover: none) {
  .button--curcle:active {
    background-color: var(--color-main-txt);
    transition-duration: var(--transition-duration);
  }
  .button--curcle:active::before {
    border-right: 2px solid var(--color-light);
    border-bottom: 2px solid var(--color-light);
  }
}
.button--curcle:focus-visible {
  border: var(--border);
}
.button--curcle:active {
  background-color: var(--color-dark);
}
.button--curcle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 45%;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-main-txt);
  border-bottom: 2px solid var(--color-main-txt);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.link {
  display: inline-flex;
  align-items: center;
  height: 75px;
  transition-duration: var(--transition-duration);
  -webkit-text-decoration: var(--text-decor);
          text-decoration: var(--text-decor);
}
.link, .link:hover {
  text-decoration: none;
}
@media (hover: hover) {
  .link:hover {
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .link:active {
    transition-duration: var(--transition-duration);
  }
}
.link:focus-visible {
  border: 1px solid black;
  padding: 3px;
  transition-duration: var(--transition-duration);
}
.link:active {
  color: var(--color-pink);
  transition-duration: var(--transition-duration);
}
@media (max-width: 1023px) {
  .link {
    height: 50px;
  }
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  text-align: center;
  min-height: 60vh;
}
.mobile-overlay__link {
  font-size: clamp(25px, 1.5625vw, 30px);
  color: var(--color-main-txt);
  font-weight: 600;
  line-height: 0.77;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main);
  color: var(--color-light);
  height: 40px;
  padding-inline: 30px;
}
@media (max-width: 1023px) {
  .header__inner {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
}
@media (max-width: 767px) {
  .header__inner {
    padding-inline: 15px;
  }
}
.header__schedule {
  font-size: clamp(12px, 0.6770833333vw, 13px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5px;
  font-weight: 400;
  line-height: 1.67;
}
.header__schedule::before {
  position: absolute;
  content: "{";
  top: -1px;
  left: -15px;
}
.header__wrapper {
  margin-left: auto;
}
@media (max-width: 1023px) {
  .header__wrapper {
    flex-direction: column;
    text-align: center;
    margin-left: 0;
  }
}
.header__link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media (max-width: 767px) {
  .header__link-list {
    flex-direction: column;
  }
}
.header__link-item {
  position: relative;
}
.header__link-item:first-child::before {
  position: absolute;
  content: url("/Icons/Phone.svg");
  top: 37%;
  left: -30%;
}
@media (max-width: 1023px) {
  .header__link-item:first-child::before {
    top: 27%;
    left: -25%;
  }
}
.header__link-item:last-child:before {
  position: absolute;
  content: url("/Icons/Location.svg");
  top: 33%;
  left: -12%;
}
@media (max-width: 1023px) {
  .header__link-item:last-child:before {
    top: 28%;
    left: -10%;
  }
}
.header__href {
  font-size: clamp(12px, 0.6770833333vw, 13px);
  color: var(--color-light);
  font-weight: 400;
  line-height: 1.67;
}
@media (hover: hover) {
  .header__href:hover {
    color: var(--color-high-accent);
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .header__href:active {
    color: var(--color-high-accent);
    transform: scale(1.1);
  }
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-inline: 30px;
}
@media (max-width: 767px) {
  .header__container {
    padding-inline: 15px;
  }
}
@media (hover: hover) {
  .header__box-link:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .header__box-link:active {
    opacity: 0.7;
    transform: scale(1.1);
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1023px) {
  .header__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__link {
  font-size: clamp(12px, 0.6770833333vw, 13px);
  color: var(--color-main-txt);
  font-weight: 600;
  line-height: 0.77;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
@media (hover: hover) {
  .header__link:hover {
    color: var(--color-high-accent);
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .header__link:active {
    color: var(--color-high-accent);
    transform: scale(1.2);
  }
}
.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  width: 100px;
}
@media (max-width: 767px) {
  .header__search {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.header__search-link {
  font-size: clamp(12px, 0.6770833333vw, 13px);
  color: var(--color-main-txt);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  line-height: 4.5;
  letter-spacing: 2.6px;
}
@media (hover: hover) {
  .header__search-link:hover {
    color: var(--color-high-accent);
    transform: scale(1.2);
  }
}
@media (hover: none) {
  .header__search-link:active {
    color: var(--color-high-accent);
    transform: scale(1.2);
  }
}
@media (max-width: 767px) {
  .header__search-link {
    font-size: 18px;
  }
}

.section__margin {
  margin-top: 100px;
}
@media (max-width: 1400px) {
  .section__margin {
    margin-top: 70px;
  }
}
@media (max-width: 1280px) {
  .section__margin {
    margin-top: 60px;
  }
}
@media (max-width: 1023px) {
  .section__margin {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .section__margin {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .section__margin {
    margin-top: 15px;
  }
}
.section__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .section__wrapper {
    justify-content: center;
  }
}
.section__description {
  font-size: clamp(14px, 0.78125vw, 15px);
  font-weight: 400;
  line-height: 1.66;
}
.section__link {
  font-size: clamp(11px, 0.625vw, 12px);
  color: var(--color-main-txt);
  font-weight: 600;
  line-height: 2;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
@media (hover: hover) {
  .section__link:hover {
    color: var(--color-high-accent);
    transition-duration: var(--transition-duration);
  }
}
@media (hover: none) {
  .section__link:active {
    color: var(--color-high-accent);
    transition-duration: var(--transition-duration);
  }
}
.section__link:focus-visible {
  border: var(--border);
}
.section__link:active {
  color: var(--color-dark);
}

.practice {
  background-image: url("../Images/practice/Practice.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 650px;
}
@media (max-width: 767px) {
  .practice {
    background-image: none;
    max-height: 450px;
  }
}
.practice__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1023px) {
  .practice__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.practice__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-high-accent);
  height: 30px;
  width: 170px;
  border-radius: var(--border-radius);
  margin-top: 30px;
}
.practice__title {
  font-size: clamp(12px, 0.6770833333vw, 13px);
  color: var(--color-light);
  font-weight: 600;
  line-height: 1.77;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.practice__box {
  font-size: clamp(35px, 3.3854166667vw, 65px);
  max-width: 560px;
  background-color: var(--color-light);
  color: var(--color-main-txt);
  font-family: var(--font-family-accent);
  font-weight: 600;
  line-height: 1.18;
  border-radius: var(--border-radius);
}
.practice__box-item {
  max-height: 70px;
}
@media (max-width: 767px) {
  .practice__box-item {
    text-align: center;
  }
}
.practice__btns {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .practice__btns {
    flex-direction: column;
    gap: 30px;
  }
}
.practice__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.practice__pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.advantages__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 435px);
  gap: 10px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1400px) {
  .advantages__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 435px);
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1023px) {
  .advantages__wrapper {
    grid-template-columns: repeat(1, 435px);
    padding-inline: 10px;
  }
}
@media (max-width: 767px) {
  .advantages__wrapper {
    grid-template-columns: repeat(1, 300px);
    text-align: center;
    gap: 15px;
  }
}
.advantages__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantages__box-img {
  border-radius: var(--border-radius);
}
.advantages__heading {
  font-size: clamp(25px, 1.40625vw, 27px);
  font-weight: 600;
  line-height: 1.3;
}
.advantages__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.advantages__container-img {
  border-radius: var(--border-radius);
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.advantages__list-item {
  font-size: clamp(13px, 0.78125vw, 15px);
  position: relative;
  height: 25px;
  font-weight: 400;
  line-height: 1.66;
  padding-left: 25px;
}
.advantages__list-item ::before {
  position: absolute;
  content: "+";
  color: var(--color-low-accent);
  width: 10px;
  height: 10px;
  left: 0;
}
@media (max-width: 767px) {
  .advantages__list-item {
    padding-left: 10px;
  }
}
.advantages__schedule {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1400px) {
  .advantages__schedule {
    grid-column: 1/3;
  }
}
@media (max-width: 1023px) {
  .advantages__schedule {
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.advantages__schedule-title {
  font-size: clamp(25px, 1.8229166667vw, 35px);
  margin-top: 70px;
  font-weight: 600;
  line-height: 0.7;
  text-align: center;
}
@media (max-width: 767px) {
  .advantages__schedule-title {
    margin-top: 40px;
  }
}
.advantages__schedule-list {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.advantages__schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.advantages__schedule-item ::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  left: 135px;
  content: "";
  height: 1px;
  width: 180px;
  background: repeating-linear-gradient(to right, var(--color-low-accent), var(--color-low-accent) 7px, transparent 1px, transparent 10px);
}
@media (max-width: 1400px) {
  .advantages__schedule-item ::before {
    width: 650px;
  }
}
@media (max-width: 1023px) {
  .advantages__schedule-item ::before {
    width: 160px;
  }
}
@media (max-width: 767px) {
  .advantages__schedule-item ::before {
    left: 94px;
    width: 120px;
  }
}
.advantages__day, .advantages__time {
  font-size: clamp(13px, 0.78125vw, 15px);
}
.advantages__time {
  text-transform: uppercase;
}
.advantages__link {
  margin-top: auto;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 30px;
}
.services__list-item {
  display: flex;
  gap: 20px;
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.services__title {
  font-size: clamp(17px, 0.9895833333vw, 19px);
  font-weight: 600;
  line-height: 1.3;
}/*# sourceMappingURL=styles.css.map */